.pause {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.fade-in {
  opacity: 1;
  transition: opacity 1s ease;
}
.fade-out {
  transition: opacity 1s ease;
}

.done-fade {
  transition: color 2s ease;
}

.color-in {
  color: #e7f2fa;
  transition: color 2s ease;
}
.color-out {
  color: #ffa500;
  transition: color 2s ease;
}

.darktext.h1font {
  color: black;
  transition: color 2s ease;
}

.darktext.h2font {
  color: black;
  transition: color 2s ease;
}

.darktext.color-in {
  color: black;
  transition: color 2s ease;
}

.darktext.color-out {
  color: orange;
  transition: color 2s ease;
}
