:root {
  --origsize: 65vw;
}

.chess {
  margin-left: 5vw;
  margin-right: 5vw;
  max-width: 80%;
}
@media only screen and (max-width: 800px) {
  .Projcard {
    position: relative;
    height: auto;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 3px solid #e7f2fa;
    border-radius: 10px;
    box-sizing: border-box;
    outline: 0;
    display: block;
    background-color: #237f96;
  }
}
@media only screen and (min-width: 800px) {
  .Projcard {
    position: relative;
    height: auto;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 3px solid #e7f2fa;
    border-radius: 10px;
    box-sizing: border-box;
    outline: 0;
    display: block;
    background-color: #237f96;
  }
}

@media only screen and (min-width: 900px) {
  .Projcard {
    position: relative;
    height: auto;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 3px solid #e7f2fa;
    border-radius: 10px;
    box-sizing: border-box;
    outline: 0;
    display: block;
    background-color: #237f96;
  }
}

@media only screen and (max-width: 800px) {
  .projimg {
    height: min(40vh, 36vw);
  }

  .projimg2 {
    display: none;
  }
}
@media only screen and (min-width: 800px) {
  .projimg {
    height: min(40vh, 36vw);
  }

  .projimg2 {
    display: none;
  }
}

@media only screen and (min-width: 900px) {
  .projimg {
    height: 40vh;
  }
  .projimg2 {
    display: inline;
  }
}
.projimg2 {
  margin-left: 0.3vw;
  height: 40vh;
}

#proj1 {
  top: 35vh;
  margin-bottom: 46vh;
}

#proj2 {
}

.projtitle {
  font-family: "AvroBold";
  font-variation-settings: "wght" 550;

  font-size: min(6vh, 5vw);
  color: #e4fcff;
  margin-top: calc(2vh);
  margin-bottom: 1vh;
}

.projbody {
  font-family: "Mont";
  display: block;
  color: #b0e7ee;
  margin-top: 1.5vh;
  font-size: min(3.2vh, 2.4vw);
  margin-left: 8vw;
  margin-right: 8vw;
  text-align: left;
  margin-bottom: 2vh;
}

.chesscontainer {
  height: auto;
}

.projsub {
  font-family: "MontBH";
  color: #263548;
  margin-top: 2vh;
  font-size: min(4.5vh, 3.6vw);
  margin-left: 8vw;
  margin-right: 8vw;
  text-align: left;
}
