.projects-div {
  height: auto;
  width: 100vw;
  position: relative;
}

.projects-title {
  color: #f7f9fc;
  text-align: center;
  position: absolute;
  top: 16vh;
  left: 10vw;
  width: 80vw;
  font-size: min(12vh, 11vw);
  font-family: "Cookie";
}
