.card {
  position: relative;
  height: 25vh;
  width: 30vw;
  border: 1.5px solid #e7f2fa;
  border-radius: 10px;
  box-sizing: border-box;
  outline: 0;
  display: block;
}

#card1,
#card2 {
  position: absolute;
  top: 62vh;
}

.smallCard {
  font-family: "Mont";
  position: absolute;
  top: 10vh;
  text-align: center;
  font-size: min(2.5vh, 2vw);
  padding-left: 4vw;
  padding-right: 4vw;
}

.bigCard {
  font-family: "Mont";
  font-size: min(2.8vh, 2.5vw);
  text-align: left;
  position: absolute;
  padding-top: 0.5vh;

  padding-left: 3vw;
  padding-right: 3vw;
}

#card1 {
  left: 15vw;
}

#card2 {
  right: 15vw;
}

#card3 {
  position: absolute;
  width: 70vw;
  top: 32vh;
  right: 15vw;
}

.title {
  font-family: "MontB";
  font-size: min(4vh, 3.2vw);
  margin-top: 2.3vh;
  text-align: center;
}

.text {
  color: #e7f2fa;
}

.text2 {
  font-family: "Mont";
  position: absolute;
  top: 14vh;
}
