@font-face {
  font-family: "Avro";
  src: local("Bebas"),
    url(../../public/Arvo/Arvo-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "AvroBold";
  src: local("BebasBold"),
    url(../../public/Arvo/Arvo-Bold.ttf) format("truetype");
}

.concard {
  position: relative;
  height: 25vh;
  width: 20vw;
  border: 1.5px solid #e7f2fa;
  border-radius: 10px;
  box-sizing: border-box;
  outline: 0;
  display: block;
  top: 40vh;
}

#con1 {
  position: absolute;
  left: 10vw;
}

#con2 {
  position: absolute;
  left: 40vw;
}

#con3 {
  position: absolute;
  right: 10vw;
}
.contitle {
  color: #e7f2fa;
  font-family: "AvroBold";
  font-size: 3.2vh;
  margin-top: 2vh;
  text-align: center;
}

.context {
  text-align: center;
  font-family: "Avro";
  color: #cbdce1;
  margin-top: 2vh;
}

.context2 {
  text-align: center;
  font-family: "Avro";
  color: #b0e7ee;
  margin-top: 1.5vh;
}
