.contact-div {
  position: absolute;
  height: 90vh;
  width: 100vw;
  top: auto;
  background: rgb(0, 26, 43);
  background: linear-gradient(
    180deg,
    rgba(0, 26, 43, 1) 0%,
    rgba(37, 45, 68, 1) 100%
  );
}
@media only screen and (min-width: 900px) {
  .contact-title {
    position: absolute;
    height: 20vh;
    width: 100vw;
    text-align: center;
    color: #f7f9fc;
    text-align: center;
    position: absolute;
    top: 12vh;
    left: 10vw;
    width: 80vw;
    font-size: min(14vh, 11.2vw);
    font-family: "Cookie";
  }
}

@media only screen and (max-width: 900px) {
  .contact-title {
    position: absolute;
    height: 20vh;
    width: 100vw;
    text-align: center;
    color: #f7f9fc;
    text-align: center;
    position: absolute;
    top: calc(12vh + 2vh - (min(14vh, 11.2vw) / 2));
    left: 10vw;
    width: 80vw;
    font-size: min(14vh, 11.2vw);
    font-family: "Cookie";
  }
}

.linkstyle:link {
  color: pink;
  text-decoration: none;
}
.linkstyle:visited {
  color: #aa336a;
  text-decoration: none;
}
.linkstyle:hover {
  color: pink;
  text-decoration: underline;
}
.linkstyle:active {
  color: #d70040;
  text-decoration: underline;
}
