.header {
  height: 10vh;
  width: 100vw;
  margin-top: 0px;
  padding-top: 0px;

  display: inline-block;

  background: linear-gradient(
    90deg,
    rgba(0, 26, 43, 1) 0%,
    rgba(9, 35, 63, 1) 0%,
    rgba(34, 63, 122, 1) 100%,
    rgba(42, 72, 139, 1) 100%
  );
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 1000;
}

.link {
  font-family: "MontH";
  font-variation-settings: "wght" 180;

  display: inline-block;
  padding-top: calc(2.2vh + 2.9vh - (min(4vh, 3.2vw) / 1.4));
  padding-left: 4vw;
  font-size: min(4vh, 3.2vw);
}

.home-link {
  margin-right: 1vw;
  font-size: min(4.1vh, 3.28vw);
  padding-left: 7.9vw;
}

.other-link {
  padding-left: 5vw;
}

.link:link {
  color: #55bed7;
  text-decoration: none;
}

.link:visited {
  color: #55bed7;
  text-decoration: none;
}

.link:hover {
  color: #b4eaee;
  text-decoration: underline;
}

.link:active {
  color: #0a467e;
  text-decoration: underline;
}

.logolink {
  top: calc(5vh - (min(5vh, 4.2vw) / 2));
  position: absolute;
  display: inline-block;
  height: auto;
  right: 25vw;
  width: min(5vh, 4.2vw);
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(500deg)
    brightness(95%) contrast(80%);
}

.logolink2 {
  top: calc(5vh - (min(5vh, 4.2vw) / 2));
  position: absolute;
  display: inline-block;
  height: auto;
  right: 19vw;
  width: min(5vh, 4.2vw);
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(500deg)
    brightness(95%) contrast(80%);
}

.headerlogo {
  position: absolute;
  top: 0;
  display: block;
  height: min(5vh, 4.2vw);
  width: min(5vh, 4.2vw);
}

.logolink3 {
  top: calc(5vh - (min(5vh, 4.2vw) / 2));
  position: absolute;
  height: min(5vh, 4.2vw);
  display: inline-block;
  right: 13vw;
  width: min(5vh, 4.2vw);
  display: block;
  height: min(5vh, 4.2vw);
  width: min(5vh, 4.2vw);
}

.moonimg {
  top: calc(5vh - (min(5vh, 4.2vw) / 2));
  position: absolute;
  height: min(5vh, 4.2vw);
  display: inline-block;
  right: 13vw;
  width: min(5vh, 4.2vw);
  display: block;
  height: min(5vh, 4.2vw);
  width: min(5vh, 4.2vw);
}
