
body {
  width: 100vw;
  height: auto;
  position: relative;
  background-color: #001a2b;
  /*background-image: url(../../public/mountain.png),
    repeating-linear-gradient(
      90deg,
      #08080a 0,
      #08080a 1px,
      transparent 50,
      transparent 92px
    ),
    repeating-linear-gradient(
      180deg,
      #08080a 0,
      #08080a 1px,
      transparent 50,
      transparent 92px
    );*/
}
