@font-face {
  font-family: "Avro";
  src: local("Bebas"), url(../public/Arvo/Arvo-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "AvroBold";
  src: local("BebasBold"), url(../public/Arvo/Arvo-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Avro";
  src: local("Bebas"), url(../public/Arvo/Arvo-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "MontBH";
  src: local("Bebas"),
    url(../public/Montserrat/static/Montserrat-BoldItalic.ttf)
      format("truetype");
}

@font-face {
  font-family: "AvroBold";
  src: local("AvroBold"), url(../public/Arvo/Arvo-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "AvroBoldItalic";
  src: local("AvroBoldItalic"),
    url(../public/Arvo/Arvo-BoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: "MontH";
  src: local("MontH"),
    url(../public/Montserrat/Montserrat-VariableFont_wght.ttf)
      format("truetype");
}
@font-face {
  font-family: "Cookie";
  src: local("Cookie"),
    url(../public/Cookie/Cookie-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Mont";
  src: local("Mont"),
    url(../public/Montserrat/static/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "MontB";
  src: local("MontB"),
    url(../public/Montserrat/static/Montserrat-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "MontT";
  src: local("MontB"),
    url(../public/Montserrat/static/Montserrat-Thin.ttf) format("truetype");
}
