@font-face {
  font-family: "Bebas";
  src: local("Bebas"), url(../public/BebasNeue-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "BebasBold";
  src: local("BebasBold"), url(../public/BebasNeue-Bold.ttf) format("truetype");
}

#topHeader {
  font-family: "BebasBold";
  font-size: 40px;
  color: #c7dad4;
  background-color: #2f414f;
  height: 60px;
  line-height: 60px;
  border: 2px;
  margin: 0px 0px 0px 0px;
  width: 100%;
  font-size: 40px;

  text-align: center;
}
